<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1050193520471-affmqk4rksqjcd99sptl6j4k3b86reqo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1050193520471-affmqk4rksqjcd99sptl6j4k3b86reqo</string>
	<key>API_KEY</key>
	<string>AIzaSyA6JCx4JfdygGoLEt-4zvFPPu6BTaObfL8</string>
	<key>GCM_SENDER_ID</key>
	<string>1050193520471</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Philip.Locatify</string>
	<key>PROJECT_ID</key>
	<string>locatify-b2dd8</string>
	<key>STORAGE_BUCKET</key>
	<string>locatify-b2dd8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1050193520471:ios:52f11b58e6590d38</string>
	<key>DATABASE_URL</key>
	<string>https://locatify-b2dd8.firebaseio.com</string>
</dict>
</plist>